# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/

# Node
node_modules/

# Environment
.env
.env.local
env.sh

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Slither
slither-results/

# Forge
out/*
cache/

# Automatically gnenerated when running Cyfrin pipeline, ignore
report.md